<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769398584437-8rer2df1i5po73dqr3vap3s8r7o0rb3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769398584437-8rer2df1i5po73dqr3vap3s8r7o0rb3i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>769398584437-0sonuvuc4n1bs30rgb3ncaq2r91pdqla.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwTXMmYoLLEqnQdAEklNIrJ51hyle43RM</string>
	<key>GCM_SENDER_ID</key>
	<string>769398584437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthMapp</string>
	<key>PROJECT_ID</key>
	<string>moon-firebase-flutter-01</string>
	<key>STORAGE_BUCKET</key>
	<string>moon-firebase-flutter-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769398584437:ios:b188b090b9c0d38598b43c</string>
</dict>
</plist>